<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="page(content)">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ServiceHub</title>
    <link rel="stylesheet" th:href="@{/assets/main.css}" />
</head>

<body class="bg-background text-foreground hs-overlay-body-open hs-overlay-body-open:overflow-hidden">
    <!-- Include Sidebar -->
    <div th:replace="~{components/sidebar :: sidebar}"></div>

    <!-- Content -->
    <div class="sm:hs-overlay-layout-open:ms-64 min-h-screen transition-all duration-300">
        <!-- Navigation Toggle -->
        <div class="p-2">
            <button type="button"
                class="flex justify-center items-center gap-x-3 size-8 text-sm text-muted-foreground-2 hover:bg-muted-hover rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-muted-focus"
                aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-sidebar-content-push"
                aria-label="Toggle navigation" data-hs-overlay="#hs-sidebar-content-push">
                <svg class="sm:hidden shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <rect width="18" height="18" x="3" y="3" rx="2" />
                    <path d="M15 3v18" />
                    <path d="m8 9 3 3-3 3" />
                </svg>
                <svg class="hidden sm:block shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <rect width="18" height="18" x="3" y="3" rx="2" />
                    <path d="M15 3v18" />
                    <path d="m10 15-3-3 3-3" />
                </svg>
                <span class="sr-only">Navigation Toggle</span>
            </button>
        </div>
        <!-- End Navigation Toggle -->

        <!-- Page Content -->
        <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">
            <div th:replace="${content}"></div>
        </div>
        <!-- End Page Content -->
    </div>
    <!-- End Content -->

    <script type="module" th:src="@{/assets/main.js}"></script>
</body>

</html>